html{
    scroll-behavior:smooth;
}

body.dark-theme {
    background-color: #1b1b1b;
    color: #ffffff;
}

.dark-theme nav {
    background-color: #000000;
    color: #ffffff;
}

nav{
    background-color: rgb(212, 212, 203);
}

.navButtons{
    background-color: #000000;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dark-theme .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dark-theme .navButtons{
    color: #FFFFFF;
}


.cards-wrapper{
    display: flex;
    justify-content: center;
}

.card img{
    max-width: 100%;
    max-height: 100%;
}

.card{
    margin: 0 0.5rem;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}

.carousel-inner{
    padding: 1rem;
}


.zoom{
    transition: transform .2s;
    width: auto;
    margin: 0 auto;
}

.zoom:hover{
    transform: scale(1.05);
}

.dark-theme .zoom{
    transition: transform .2s;
    width: auto;
    margin: 0 auto;
    color: #FFFFFF;
}

.dark-theme .zoom:hover{
    transform: scale(1.05);
    color: #FFFFFF;
}

.zoomNavButtons{
    transition: transform .2s;
    width: auto;
    margin: 0 auto;
}

.zoomNavButtons:hover{
    transform: scale(1.05);
}

.firstPage{
    height: 100vh;
    margin-top: 15%;
    font-style: oblique;      
}

.under-navbar{
    margin-top: 15vh;
}