html{
    scroll-behavior:smooth;
}

body.dark-theme {
    background-color: #000000;
    color: #FFFFFF;
}

.dark-theme nav {
    background-color: #000000;
    color: #ffffff;
}

nav{
    background-color: white;
}


.cards-wrapper{
    display: flex;
    justify-content: center;
}

.card img{
    max-width: 100%;
    max-height: 100%;
}

.card{
    margin: 0 0.5rem;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}

.carousel-inner{
    padding: 1rem;
}


.zoom{
    transition: transform .2s;
    width: auto;
    margin: 0 auto;
}

.zoom:hover{
    transform: scale(1.05);
}

.dark-theme .zoom{
    transition: transform .2s;
    width: auto;
    margin: 0 auto;
    color: #FFFFFF;
}

.dark-theme .zoom:hover{
    transform: scale(1.05);
    color: #FFFFFF;
}

.zoomNavButtons{
    transition: transform .2s;
    width: auto;
    margin: 0 auto;
}

.zoomNavButtons:hover{
    transform: scale(1.05);
}

.firstPage{
    height: 100vh;
    margin-top: 15%;
    font-style: oblique;      
}

.under-navbar{
    margin-top: 15vh;
}