html{
    scroll-behavior:smooth;
}

.link_competences{
    color: #000000;
}

.dark-theme .link_competences{
    color: #ddd;
}

body.dark-theme {
    background-color: #000000;
    color: rgb(221, 221, 221);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark-theme nav {
    background-color: #000000;
}


nav{
    background-color: rgb(212, 212, 203);
}

footer{
    background-color: rgb(212, 212, 203);
}

.dark-theme footer{
background-color: #000000;
}

.navButtons{
    background-color: #000000;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dark-theme .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(221, 221, 221, 221)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dark-theme .navButtons{
    color: #ddd;
}


.cards-wrapper{
    display: flex;
    justify-content: center;
}

.card img{
    max-width: 100%;
    max-height: 100%;
}

.card{
    margin: 0 0.5rem;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}

.carousel-inner{
    padding: 1rem;
}


.zoom{
    transition: transform .2s;
    width: auto;
    margin: 0 auto;
}

.zoom:hover{
    transform: scale(1.05);
}

.dark-theme .zoom{
    transition: transform .2s;
    width: auto;
    margin: 0 auto;
    color: #ddd;
}

.dark-theme .zoom:hover{
    transform: scale(1.05);
    color: #ddd;
}

.zoomNavButtons{
    transition: transform .2s;
    width: auto;
    margin: 0 auto;
}

.zoomNavButtons:hover{
    transform: scale(1.05);
}

.firstPage{
    height: 100vh;
    margin-top: 15%;
    font-style: oblique;      
}

.under-navbar{
    margin-top: 15vh;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.dark-theme .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.dark-theme .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carpc{
    flex-wrap: wrap;
}

/*---------------------------FORMATION CSS-------------------------------------*/

.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}


@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}

.hide1 {
    display: none;
}

.cercle1:hover + .hide1 {
    display: block;
}

.hide2 {
    display: none;
}

.cercle2:hover + .hide2 {
    display: block;
}

.hide3 {
    display: none;
}

.cercle3:hover + .hide3 {
    display: block;
}

.hide4 {
    display: none;
}

.cercle4:hover + .hide4 {
    display: block;
}

.hide5 {
    display: none;
}

.cercle5:hover + .hide5 {
    display: block;
}
  /*---------------------------FORMATION CSS-------------------------------------*/

